.text-underline {
  text-decoration: underline;
}

.breadcrumb a {
  color: var(--green);
  display: flex;
  gap: 10px;
  margin: 1rem 0 2rem;
}
.breadcrumb a::before {
  content: url('../images/arrow-back.svg');
  vertical-align: middle;
}

.product__info {
  padding-bottom: 1rem;
}

.product__info .row {
  gap: 5rem;
}
.product__img__wrapper {
  max-width: 500px;
}

.product__image {
  border: 1px solid rgba(13, 13, 13, 0.1);
  border-radius: 10px;
  max-width: 500px;
  padding: 1rem;
}
.product__image img {
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

.product__image__link {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.product__image__link > a {
  cursor: pointer;
}

.product__image__link img {
  max-width: 100%;
}

.product__image__link > a {
  flex: auto;
  text-align: center;
  border: 1px solid rgba(13, 13, 13, 0.1);
  border-radius: 12px;
  padding: 0.5rem 1rem;
}

.product__info h2.name {
  font-size: 2rem;
  text-align: left;
  font-weight: 600;
  margin: 0;
  line-height: 1.5;
}
.ratings__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ratings__star {
  list-style: none;
  display: flex;
  gap: 5px;
}

.ratings__star li {
  list-style: none !important;
  line-height: 1;
}

.ratings__star li img {
  width: 20px;
}

.ratings {
  font-size: 18px;
  font-weight: 400;
  color: var(--grey);
  margin: 0;
}
.product__info h3 {
  font-size: 18px;
  text-align: left;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.product__info ul li {
  list-style: disc;
  line-height: 2;
  list-style-position: inside;
}

.product__info li p {
  margin: 0;
}

.plant__buy {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.plant__buy p {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  line-height: 1.5;
}

.plant__buy .btn {
  padding: 12px 3.5rem;
}

.payment__methods {
  margin-top: 1rem;
}
.buying__note {
  background-color: #f7f8fb;
  padding: 12px 1.5rem;
  border-radius: 10px;
  color: var(--grey);
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.buying__note img {
  width: 25px;
  margin-right: 14px;
}

/*Device info tabs*/

.info__nav {
  background-color: var(--lightGrey);
}

.tab {
  position: relative;
  overflow: hidden;
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.tab .tablink {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 0;
  transition: border 0.3s;
  font-size: 17px;
  border-bottom: 4px solid transparent;
  text-align: center;
  color: var(--black);
  user-select: none;
}

.tab .tablink.active {
  border-bottom: 4px solid var(--green);
  font-weight: 600;
}

.tabcontent {
  display: none;
  border-top: none;
}

.tabcontent h2 {
  font-size: 2rem;
  text-align: left;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.details .row {
  background-color: var(--lightGrey);
  padding: 4rem;
  border-radius: 10px;
  position: relative;
  margin-bottom: 5rem;
}

.details .row:last-child {
  margin-bottom: 2rem;
}

.details h3 {
  text-align: left;
}

.details p {
  max-width: 360px;
}

.details img {
  max-width: 420px;
  position: absolute;
  top: -54px;
}
.details.tabcontent {
  width: 100%;
}

.specs tr::before {
  content: '\2022';
  font-weight: bold;
  margin-right: 2px;
  font-size: 20px;
}

.specs th,
.specs td {
  text-align: left;
}
.specs th {
  min-width: 100px;
}

#components ul {
  list-style-type: disc;
  list-style-position: inside;
}
#components ul li {
  line-height: 2;
}

/*Accordion*/
.accordion {
  color: var(--black);
  background-color: transparent;
  cursor: pointer;
  padding: 18px 0;
  padding-right: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  position: relative;
}

.accordion.active {
  color: var(--green);
}

.accordion:after {
  content: '\002B';
  content: url('../images/arrowhead-down.svg');
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  position: absolute;
  right: 0;
  top: 1.1rem;
}

.accordion.active:after {
  content: '\2212';
  content: url('../images/arrowhead-up.svg');
  position: absolute;
  right: 0;
  top: 1.1rem;
}

.panel {
  padding: 0;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p {
  font-size: 14px;
  margin: 0;
  margin-right: 15px;
}

.info__content .tablink {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background-color: transparent;
  color: black;
  border: 1px solid #1a9449;
  border-radius: 52px;
  padding: 8px 32px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  min-width: 200px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.dropbtn span {
  pointer-events: none;
}
.dropbtn svg {
  width: 12px;
  transition: transform 0.3s;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  min-width: 160px;
  overflow: auto;
  background: #ffffff;
  border-radius: 12px;
  z-index: 1;
  padding: 0 24px;
  transition: all 0.24s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  box-shadow: 0 12px 18px rgb(0, 0, 0, 0.14);
}

.dropdown-content a {
  color: black;
  padding: 18px 0;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid rgba(13, 13, 13, 0.05);
  cursor: pointer;
}
.dropbtn.open {
  color: #1a9449;
}
.dropbtn.open svg {
  transform: rotate(180deg);
}
.dropbtn.open path {
  fill: var(--green);
}

.dropbtn.open + .dropdown-content {
  display: block;
}

.dropdown a:hover {
  color: #1a9449;
}
#reviews {
  width: 100%;
}
.review {
  border-bottom: 1px solid rgba(13, 13, 13, 0.1);
  padding-top: 20px;
}
.review:last-child {
  border-bottom: 0;
}
.reviews__header {
  display: flex;
  justify-content: space-between;
}
.reviews__header > div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.review__avatar img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.review__header {
  display: flex;
  gap: 10px;
}
.reviewer__name {
  font-weight: 600;
  font-size: 20px;
}

.review__date {
  font-size: 18px;
  font-weight: 400;
  color: var(--grey);
  margin: 0;
  font-size: 16px;
}
.review__body {
  padding-left: 58px;
  margin-bottom: 20px;
}

.load__more__btn {
  text-align: center;
  margin-top: 2rem;
  user-select: none;
}
.load__more__btn .btn {
  background-color: transparent;
  color: var(--green);
  border: 1px solid var(--green);
}
.load__more__btn .btn:hover,
.load__more__btn .btn:active {
  background: transparent;
  color: var(--green);
  border: 1px solid var(--green);
}
@media (max-width: 768px) {
  .breadcrumb a {
    margin: 1rem 0;
  }

  .product__info {
    margin-top: 2rem;
  }

  .product__info .row {
    gap: 1rem;
  }

  .product__info h2.name {
    font-size: 1.5rem;
  }
  .product__info .ratings {
    font-size: 1rem;
  }

  .plant__buy {
    justify-content: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
  .plant__buy .btn {
    padding: 12px 1.5rem;
  }

  .buying__note {
    background-color: #f7f8fb;
    border-radius: 16px;
    margin-bottom: 0;
  }

  .buying__note p {
    font-size: 16px;
    display: flex;
    align-items: center;
  }

  .tab {
    flex-direction: column;
    align-items: start;
  }

  .tab .tablink {
    padding: 1rem 0;
    border-bottom: 0;
  }
  .tab .tablink.active {
    border-bottom: 0;
  }
  .accordion {
    padding: 18px 0;
    font-size: 14px;
    padding: 12px;
    padding-right: 30px;
  }
  .accordion:not(.tablink)::after {
    right: 1rem;
  }
  .panel {
    padding: 0;
  }
  .panel p {
    padding: 0 12px;
  }

  .tablink.accordion .tabcontent {
    padding: 0;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    transition-property: max-height, display;
  }

  .info__nav {
    display: none;
  }
  .info__nav .tab {
    display: none;
  }
  .info__content {
    display: flex;
    flex-direction: column;
  }
  .info__content .tablink {
    display: flex;
  }

  .tabcontent h2 {
    display: none;
  }

  .details .row {
    padding: 0;
    background-color: transparent;
    margin-bottom: 2rem;
  }

  .details h3 {
    font-size: 16px;
  }

  .details img {
    position: static;
    max-width: 100%;
    background-color: var(--lightGrey);
    border-radius: 10px;
  }
  .order-2-mb {
    order: 2;
  }
  .specs th,
  .specs td {
    font-size: 14px;
  }
  #components ul li {
    font-size: 14px;
  }
  .dropbtn {
    padding: 8px 20px;
    min-width: 150px;
  }
  .reviews {
    margin-top: 1rem;
  }

  .review__body {
    padding-left: 0;
  }
  .reviewer__name {
    font-size: 18px;
  }
  .review .ratings__star li img {
    width: 16px;
  }
  .review__date {
    font-size: 14px;
  }
  .reviews__header > div {
    justify-content: space-between;
    width: 100%;
  }
}
