:root {
  --black: #0d0d0d;
  --white: #ffffff;
  --grey: #71717c;
  --lightGrey: #f7f8fb;
  --green: #1a9449;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: var(--black);
  background: var(--white);
  max-width: 1600px;
}

div,
span,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  font-family: "Poppins", sans-serif;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
h1 {
  font-size: 3.5rem;
  line-height: 1.25;
  color: var(--black);
  font-weight: 600;
  margin: 0;
}
h2 {
  font-size: 2.5rem;
  line-height: 1.5;
  text-align: center;
  font-weight: 600;
  margin: 0;
}
h3 {
  font-size: 1.5rem;
  line-height: 1.25;
  text-align: center;
  font-weight: 600;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

.btn {
  display: inline-block;
  border: none;
  padding: 12px 24px;
  margin: 0;
  text-decoration: none;
  background: var(--green);
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  text-align: center;
  border-radius: 62px;
}
.btn:hover {
  color: var(--white);
  background: linear-gradient(180deg, #066b2d 0%, #1a9449 100%);
}
.btn:active {
  background: linear-gradient(180deg, #0d7b38 0%, #15ae4d 100%);
}

button:hover,
button:focus {
  outline: 0;
}

.btn--lg {
  padding: 18px 42px;
  font-size: 1rem;
  font-weight: 500;
}

.btn--sm {
  padding: 10px 26px;
  font-size: 14px;
}
.btn--primary {
  font-size: 1rem;
}
.btn--primary:hover {
  color: var(--white);
  background: linear-gradient(180deg, #066b2d 0%, #1a9449 100%);
}
.btn--primary:active {
  background: linear-gradient(180deg, #0d7b38 0%, #15ae4d 100%);
}
.btn--secondary {
  background-color: var(--white);
  color: var(--green);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.3);
}
.btn--secondary:hover {
  color: var(--green);
  background: #f3f3f3;
}
.btn--secondary:active {
  background: #e7e7e7;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.subhead {
  font-size: 18px;
  text-align: center;
  max-width: 500px;
  margin: 1rem auto;
}
.row {
  display: flex;
}
.col {
  width: 100%;
}
.col-6 {
  width: 50%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.flex {
  display: flex;
}
.gap-1 {
  gap: 1rem;
}

/* || Navbar styles*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid #e7e7e7;
}
.nav-logo img {
  height: 42px;
  width: 199px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 16px;
  height: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--black);
  border-radius: 1px;
  margin-bottom: 4px;
}
.bar:last-child {
  margin-bottom: 0;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  gap: 32px;
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  color: var(--black);
}
.nav-link.active {
  font-weight: 600;
  color: var(--green);
}

.nav-link:hover {
  color: var(--green);
}

.shopping__button {
  display: flex;
  gap: 8px;
  align-items: center;
}
.shop-btn--mobile {
  display: none;
}

.footer {
  padding: 5rem 0 1rem;
}
.address-payment {
  display: flex;
  margin-bottom: 3rem;
  gap: 20px;
}
.address-payment p {
  margin: 0;
}

.footer_title {
  font-size: 14px;
  color: #adadad;
}

.office__address {
  flex: 1;
}
.office__address .address {
  display: flex;
  gap: 10px;
}
.email__address {
  flex: 1;
}
.payment__methods {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.footer__row--2 {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}
.footer__row--2 > div:last-child {
  margin-left: auto;
}

.badges a {
  display: inline-block;
}
.badges a:first-child {
  margin-right: 10px;
}

/*Footer Form*/

.input__wrapper {
  position: relative;
}
.form__input {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: inherit;
  color: white;
  outline: none;
  padding: 1rem 2rem;
  padding-top: 1.75rem;
  padding-bottom: 0.75rem;
  background: none;
  background: var(--white);
  color: var(--black);
  border-radius: 62px;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.05));
}

.form__label {
  position: absolute;
  left: 2rem;
  margin: 0;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  color: var(--black);
  top: 50%;
  transform: translateY(-50%);
  line-height: 1;
}
.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: 1.25rem;
  font-size: 12px;
  color: var(--grey);
}

.footer__form {
  display: flex;
  gap: 14px;
}

.footer__form .form__input:focus ~ .form__label,
.footer__form .form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: 1rem;
}

.footer__form .form__input {
  background: var(--white);
  border-radius: 62px;
  border: 1px solid rgba(13, 13, 13, 0.1);
  filter: none;
  padding: 0.75rem 2rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  min-width: 300px;
  line-height: 1.2;
  font-size: 16px;
}

.footer__form .form__input:focus {
  border: 1px solid #70c278;
}

.footer__form .btn {
  font-size: 16px;
}

.footer__row--end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  border-top: 2px solid #f3f3f3;
  padding: 1rem 0 0;
}

.footer__row--end .links {
  display: flex;
  gap: 5px;
}

.footer .social-nav {
  margin-top: 0;
}
.footer .social-nav img {
  width: 25px;
}

/*Footer banner*/
.footer__banner {
  background-color: var(--green);
  background-image: url(../images/footer-banner.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: 10rem 0;
  color: var(--white);
}
.footer__banner h2 {
  text-align: left;
  line-height: 1.2;
}
.footer__banner p {
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 2rem;
  margin-top: 0;
  max-width: 275px;
}
.footer__banner .row {
  padding: 0 5rem;
  gap: 5rem;
}

.buy-now {
  background-color: var(--white);
  color: var(--green);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.3);
  font-weight: 600;
}
.buy-now:hover {
  color: var(--green);
}

/*Social Nav*/
.social-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
}
.social-nav li {
  list-style: none;
}
.social-nav a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  line-height: 1;
}
.social-nav img {
  width: 40px;
}

@media (max-width: 968px) {
  .nav-link {
    color: var(--white);
  }
  .nav-link:hover {
    color: var(--white);
  }

  /*Navbar styles*/
  .nav-logo img {
    height: 32px;
    width: 151px;
  }

  .nav-menu {
    position: absolute;
    left: -100%;
    top: 5rem;
    top: 0;
    flex-direction: column;
    background-color: var(--green);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 2;
    gap: 10px;
    min-height: calc(100vh - 87px);
    min-height: 100vh;
    justify-content: center;
  }

  .nav-menu.active {
    left: 0;
  }
  .nav-link.active {
    color: var(--white);
  }

  .nav-item {
    margin: 1rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 3;
  }
  .hamburger.active .bar {
    background-color: var(--white);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(6px) rotate(45deg);
    transform: translateY(6px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-6px) rotate(-45deg);
    transform: translateY(-6px) rotate(-45deg);
  }
  .shopping__button {
    display: none;
  }
  .shop-btn--mobile {
    display: inline-block;
    margin-left: auto;
    margin-right: 24px;
  }
}

@media (max-width: 768px) {
  /*Global styles*/
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  p {
    font-size: 14px;
  }
  .btn {
    font-size: 0.875rem;
  }

  .row {
    flex-wrap: wrap;
  }

  .col-6 {
    width: 100%;
  }
  .item > div {
    margin: 0 auto;
  }

  .subhead {
    font-size: 14px;
  }

  /*Footer banner*/
  .footer__banner {
    padding: 5rem 0;
    background-size: 200px;
  }
  .footer__banner .row {
    padding: 0 3%;
    gap: 2rem;
    text-align: center;
  }
  .footer__banner p {
    font-size: 14px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__banner h2 {
    text-align: center;
  }

  /*Footer*/
  .footer {
    padding-top: 3rem;
  }

  .office__address {
    order: 2;
    flex: 1.2;
  }

  .payment__methods {
    flex-wrap: wrap;
    gap: 12px 8%;
  }
  .address-payment {
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 3rem;
    justify-content: center;
  }
  .footer__row--2 {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
    gap: 2rem;
  }
  .footer__row--2 > div:last-child {
    margin-left: 0;
    width: 100%;
  }
  .footer__form {
    flex-direction: column;
  }
  .footer__row--end {
    flex-direction: column;
    gap: 2rem;
  }
  .footer__row--end .links {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer__row--end .links + div {
    order: 3;
  }
  .footer__row--end p {
    margin-top: 0;
  }

  .footer__row--end .links span {
    display: none;
  }
}
